<div class="field">
  <%= f.label :course_id %>
  <% courses = Course.all.collect { |course| [course.name, course.id] } %>
  <%= f.select(:course_id, options_for_select(courses, { selected: @student.course_id }), {}, class: 'select2') %>
</div>

<div class="field">
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</div>

<div class="field">
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</div>

<div class="field">
  <%= f.label :username %>
  <%= f.text_field :username %>
</div>
