<!DOCTYPE html>
<html>
<head>
  <title>Core Interaction</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="Core Interaction is a course that focuses on design for the web. Coursework emphasizes narrative, user experience, experimentation, and typography as students develop a body of work that engages the screen as a space rather than a surface.">
  <%= csrf_meta_tags %>
  <%= render 'shared/analytics' if Rails.env.production? %>
</head>
<body>

  <div id="wrapper">
    <div id="header">
      <%= render 'shared/header' %>
    </div>

    <div id="content">
      <%= yield %>
    </div>
  </div>

  <div id="footer">
    <div id="footer-inner">
      <%= render 'shared/footer' %>
    </div>
  </div>

  <%= render 'shared/wheel_of_fortune' %>
  <%= render 'shared/presentation_mode' %>

  <%= javascript_include_tag 'application' %>
  <%= yield :init_student_list %>

</body>
</html>
